@media(max-width: 700px) {
    .Study { font-size: 120%; color: green; text-transform: uppercase; font-weight: bold; display: block;}
    .Medicine { font-size: 120%; color: white; text-transform: uppercase; font-weight: bold;}
    .Italy { font-size: 120%; color: red; text-transform: uppercase; font-weight: bold; display: block;}
    .in { font-size: 100%; color: black; font-weight: bold;}

    nav { height: fit-content; background: rgb(23,28,116);
        background: -moz-linear-gradient(94deg, rgba(23,28,116,0.9024859943977591) 0%, rgba(19,125,236,0.8800770308123249) 53%, rgba(19,220,236,0.8576680672268908) 99%);
        background: -webkit-linear-gradient(94deg, rgba(23,28,116,0.9024859943977591) 0%, rgba(19,125,236,0.8800770308123249) 53%, rgba(19,220,236,0.8576680672268908) 99%);
        background: linear-gradient(94deg, rgba(23,28,116,0.9024859943977591) 0%, rgba(19,125,236,0.8800770308123249) 53%, rgba(19,220,236,0.8576680672268908) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#171c74",endColorstr="#13dcec",GradientType=1);}
    .nothing {border: 1px solid black; position: absolute; top: 87%; left: 50%;}


    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(IMG_4443.JPG);
        background-position: 50% 50%;
        background-size: cover;
        position: relative;
    }

    .footer { font-size: 70%;}
}  

@media(max-width: 1050px) {
    .nav-links ul li {
        color:black; display: block; font-size: 150; padding: 2% 0% 2% 0%; font-weight: bold;
    }
    .nav-links ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 150%;
        font-family: unset;
    }
    .nav-links ul { 
        padding: 10%;
    }


    .nav-links{ 
        position: absolute;
        background: rgba(89, 175, 219,0.9);
        height: 100vh;
        width: 40%;
        top: 0;
        right: -40%;
        text-align: left;
        z-index: 2;
        font-size: 70%;
        transition: 0.3s;
    }

    nav .fa-solid {
        display: block;
        color: #000000;
        margin: 5%;
        font-size: 140%;
        cursor: pointer;
    }

    .FAQ { display:none;}

    .main-content { float:none; align-content: center; width: 100%; padding: 0%; margin: 0; align-self: center; text-align: justify; border: none;}
    .main-content p { font-size: 110%;}
    .main-content h1,h3 { font-size: 110%;}
    .main-content ol li {font-size: 110%;}
}

@media(max-height: 670px) {
    .nothing {border: 1px solid black; position: absolute; top: 83%; left: 50%;}

 }

 @media(max-height: 600px) { nav{ height: 12.5%;}
 }

